.footer-links {
  margin-right: 93px;
}
  
.footer-networks { 
  display: flex;

  &__items:not(:last-child) {
    margin-right: 10px;
  }
  
  &__icons {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.footer-networks__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: $primary-white-color;

  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;

  &:hover,
  &:focus {
    background: $accent-color;
    outline: none;
  }
}
